<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @comment.value %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @comment.page_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @comment.book %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
